.sidebar {
  margin-top: 30px;
  width: 200px;
}

.sidebar h4 {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid #3e1010;
}

.sidebar li {
  display: flex;
  margin: 20px 0;
}

.sidebar li p {
  font-weight: 200;
  margin-right: 10px;
  color: grey;
}
